#boardId{
    width:100vw;
    height:100vh;
    position:absolute;
    top:12vh;
}

#boardId h1{
    margin:auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 8vw;
    text-align: center;
}

#boardId p{
    font-family: 'Ubuntu',sans-serif;
    width:100vw;
    text-align: center;
}

